<!doctype html>
<html lang="en">

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <header>
        <div class="navbar navbar-dark bg-dark shadow-sm">
            <div class="container d-flex justify-content-between">
                <a href="/" class="navbar-brand d-flex align-items-center">
                    <strong>Signed in as: @<%= user %> %><a href="/" class="btn btn-secondary my-2">Logout</a></li>
                    </strong>
                </a>
            </div>
        </div>
    </header>
</body>
<style>
    /* Container holding the image and the text */
.container {
  position: relative;
  text-align: center;
  color: white;
}

/* Bottom left text */
.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
}

/* Top left text */
.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
}

/* Top right text */
.top-right {
  position: absolute;
  top: 8px;
  right: 16px;
}

/* Bottom right text */
.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
}

/* Centered text */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

    table {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        border: 1px solid black;
    }

    th {
        border: 3px solid black;
        text-align: center;
    }

    td {
        border: 1px solid black;
        text-align: center;
    }

    tr {
        border: 1px solid black;
        text-align: center;
    }
</style>



<main role="main">

    <section class="jumbotron text-center">
        <div>
            <h1 class="jumbotron-heading"> All sessions: </h1>
        </div>

        <br />
        <div id="root"></div>
        <script>
            var session = <%- JSON.stringify(session) %>;
            var plays = <%- JSON.stringify(plays) %>;
            const rootElement = document.getElementById('root');
            for(const play of plays) {
                const fullPlay = document.createElement('div');
                fullPlay.setAttribute("class", "container")

                const playImage = document.createElement('IMG');
                playImage.setAttribute("src", play.bg)

                const playTitle = document.createElement('div');
                playTitle.setAttribute("class", "top-left");
                playTitle.textContent = play.title

                fullPlay.appendChild(playImage);
                fullPlay.appendChild(playTitle);



                rootElement.appendChild(fullPlay);
            }
        </script>



        <table style="width: 1">
            <tr>
                <th>Row</th>
                <th>Session ID</th>
                <th>osu! Username</th>
                <th>Date</th>
                <th>Title</th>
                <th>BG</th>
            </tr>
            <% for (var i = 0; i < plays.length; i++) { %>
            <tr>
                <td><%= i+1 %></td>
                <td><%= plays[i].sessionId %></td>
                <td><%= plays[i].osuUsername %></td>
                <td><%= plays[i].date %></td>
                <td><%= plays[i].title %></td>
                <td><%= plays[i].bg %></td>
            </tr>
            <% } %>
        </table>

        <br />

        <a href="/return" class="btn btn-primary my-2">Back to dashboard</a>
    </section>
</main>

<center>
    <a href="/privacy"><strong>Privacy Policy</a></strong>
</center>

</html>